body {
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
    background: black;
   }

html { scroll-behavior:smooth;
} 

a {
    color: white;
}

.nav-container {  background:rgb(131, 17, 34)
}

a.nav-link {
    font-size: larger;
    color: white;
    border-radius: 10px;
    }

a.nav-link:hover {
    text-decoration: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    }

.display-5 {
    color: white;
    display:flex;
    align-content: center;
    justify-content: center;
}

.Paragraph1 {
    font-size: 30px;
    margin-bottom: 30px;
}

h1 {
    display:flex;
    align-content: center;
    justify-content: center;
}

h2 {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
}

h3 {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

h5 {
    text-align: center;

}

.jumbotron {
   border-radius: 0%;
   background: linear-gradient(90deg, rgb(131, 17, 34) 20%, rgba(4,3,7) 100%);
}

.jumbotron-fluid-1 {
    margin:0px;
    background: linear-gradient(180deg, rgb(131, 17, 34) 0%, rgba(4,3,7) 100%);
}

.jumbotron-fluid-2 {
    margin:0px;
    background: linear-gradient(180deg, rgb(131, 17, 34) 0%, rgba(4,3,7) 100%);
}

.jumbotron-fluid-3 {
  background-color: black;
  background-image: url("../images/Asset\ 1-100.jpg");
  display: flex;
  align-content: center;
  justify-content: center;
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  height: 400px;
  margin:0px;
 }

.jumbotron-fluid-4 {
  background-image: url("../images/SelfPotrait.png");
  background-color: black;
  display: flex;
  align-content: center;
  justify-content: center;
  background-position: 50%;
  background-position-y: top;
  background-size: 25%;
  background-repeat: no-repeat;
  height: 500px;
  margin:0px;
  
}
.jumbotron-fluid-5 {
  background: linear-gradient(180deg,  rgb(131, 17, 34) 0%, rgba(4,3,7) 100%);
  display: flex;
  align-content: center;
  justify-content: center;
  background-repeat: no-repeat;
  height: 240px;
  

}
.jumbotron-fluid-6 {
  background-image: url("../images/Samurai\ Logo\ \(1\).jpg");
  display: flex;
  align-content: center;
  justify-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70rem;
  margin: 0px;
  }

.portfolio-link {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    margin:10px;
}

.portfolio-link :hover  {
    color: rgb(254, 254, 254);
    text-decoration: none;
    box-shadow: 2px 2px 2px 2px rgb(131, 17, 34) ;  
    border-radius: 7px;
}
 
.card-body {
    color: white;
    background: linear-gradient(180deg,  rgb(131, 17, 34) 0% 0%, rgba(4,3,7) 100%);
}

.card-text {
    text-align: center;
}

.About-text {
text-align: center;
font-size: 1.5rem;
color: white;
}

/* bottom links */
.p-2 {
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
}

/* the links for emails and myportfolio.com actually works */
.p-2 :hover {
color: rgb(255, 255, 255);
text-decoration: none;
box-shadow: 2px 2px 2px 2px rgb(131, 17, 34) ;  
border-radius: 7px;
    
}

/* this is to make the cards clickable - they just send on the top of the page upon click */
.stretched-link:hover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: auto;
        content: "";
        background-color: rgba(69, 61, 61, 0.44);
}